p
  | Enter city name and check interval to get notified of any severe weather conditions.
form(name="weatherForm")
  input#city.textfield-200(placeHolder="WKT Name",
                           data-ng-change="requestAlerts()",
                           data-ng-model-options="{debounce: 500}",
                           data-ng-model="name")
  input#interval.textfield-75(type="number",
                              placeHolder="Check Interval (sec, min: 5)",
                              data-ng-min="5",
                              data-ng-change="schedule()",
                              data-ng-model-options="{debounce: 500}",
                              data-ng-model="interval")
  .error-message(data-ng-show="status>=400") Api status: {{ status }}
  .weather-alerts(data-ng-hide="!alerts")
    .caption
      p {{ alerts.country }}, {{ alerts.state }}, {{ alerts.city }}
    .alert(data-ng-repeat="alert in alerts.alerts")
      .type {{ alert.description}}, {{ alert.type }}
      .times(data-ng-repeat="time in alert.timeSegment")
        .alert {{ time.day_of_week | dayOfWeek }}, {{ time.segment | segment }}
    .message(data-ng-show="alerts.alerts.length===0") No need to be scared. No alerts ahead. Enjoy!
