p
  | Enter city name and check interval to get notified of any severe weather conditions.
input#city.textfield-200(placeHolder="City Name",
                         data-ng-change="requestAlerts()",
                         data-ng-model-options="{debounce: 500}",
                         data-ng-model="name")
input#interval.textfield-75(placeHolder="Check Interval (sec)"
                            data-ng-change="schedule()"
                            data-ng-model-options="{debounce: 500}",
                            data-ng-model="interval")
.weather-alerts(data-ng-hide="!response")
  .caption
    p {{:: response.alerts.country }}, {{:: response.alerts.state }}, {{:: response.alerts.city }}
  .alert(data-ng-repeat="alert in response.alerts.alerts")
    .type {{:: alert.description}}, {{:: alert.type }}
    .times(data-ng-repeat="time in alert.timeSegment")
      .alert {{:: time.day_of_week }}, {{:: time.segment }}
